/* Nav vertical */
#container-1{
    background-color: #333333;
    border: none;
    margin: 0px;
    border-radius: 0px;
}
#home a{
    background-color: #333333;
    color: #fff;
}
#home a:hover{
    background-color: #F9A91A;
}
#icono a{
    color: #fff;
}
#icono a:hover{
    background-color: #F9A91A;
}
.logo{
    width: 150px;	
    position: relative;
    top: -5px;
    margin-left: 30px;
    margin-right: 36px;
}
#idioma{
    color: #fff;
}
#idioma:hover{
    background-color: #F9A91A;
}

/*Nav Horizontal */
#sidebar {
    background-color: #333333;
    padding: 10px;
    display: inline-block;
}

#sidebar a:hover, a:focus {
    color: #FFF;
    text-decoration: none;
}

#sidebar.nav > li > a,
#sidebar.nav > li > a:link {
    background-color: #333333;
    color: #FFF;
    height: 100%;
}

#sidebar.nav > li > a:hover,
#sidebar.nav > li > a:focus {
    background-color: #F9A91A;
}

#sidebar.nav-pills > li.active > a,
#sidebar.nav-pills > li.active > a:hover,
#sidebar.nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #C72A25;
}

#chart_div{
	display: inline-block;
	width: 600px;
	height: 300px;

}

#chart_div2{
	display: inline-block;
	width: 300px;
}

.cicle{
	display: inline-block;
	width: 90px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 4px solid #F9A91A;
    margin: 20px;
    position: relative;
    right: 25px;
}

.name{
    color:#fff;
    font-weight: bold;
    position: relative;
    top: -10px;
}
.sub-menu{
	background-color: steelblue;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}
#sub-menu2017{
	background-color: steelblue;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}
.menu_link{
	color: #ffffff;
	text-decoration: none;
	line-height: 3rem;
	padding: 0 1em;
	display: block;
	max-height: 0;
	overflow: hidden;
	box-shadow: 0 1px rgba(0,0,0,.2);
	transition: all .5s;
}
.menu_link2017{
	color: #ffffff;
	text-decoration: none;
	line-height: 3rem;
	padding: 0 1em;
	display: block;
	max-height: 0;
	overflow: hidden;
	box-shadow: 0 1px rgba(0,0,0,.2);
	transition: all .5s;
}
.mostrar .menu_link{
	max-height: 3rem;
}
.mostrar2017 .menu_link2017{
	max-height: 3rem;
}
.menu-1{
	background: #333;
	text-align: center;
	color: #eee;
	line-height: 2.5;
	cursor: pointer;
}


/*Gráficos*/
#sub-menu .menu-2 .menu_link{
    color: #fff;
}

.contenedor{
	display: inline-block;
	background-color: purple;
	width: 80%;
	height: 1000px;
	padding: 20px;
}
.iframe{
	
	background-color: red
	width: 100%;
	height: 100%;
}